mLRS_Flasher.ini
mlrs_flasher_runner.bat
mlrs_flasher_runner.py
z_cmd.bat
temp/*
local/*
venv/*
build/*
dist/*
win_build/*
win_dist/*
tools/win_build/*
tools/win_dist/*
tools/venv/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
# *.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

# Platformio
.pio/
.vscode/

# Virtual Env
.venv/
